.genresHolder{
    width: 98vw;
    height: 20px;
}
.genresHolder>div{
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.genresHolder>div>a{
    text-decoration: none;
    color: black;
}
.genresHolder>div>a:hover{
    border-bottom: 1px solid black;
    color: cadetblue;
}